<div class='navbar navbar-default navbar-static-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <p class='logo'>
        Calibration
      </p>
    </div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <% if current_user %>
          <li>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          </li>
          <li class='sign-in-info'>
            <%= "Signed in as #{current_user.name}" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
